<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TGC.Group.Game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <TGC.Group.Game>
        <setting name="Category" serializeAs="String">
            <value>Alumnos</value>
        </setting>
        <setting name="Name" serializeAs="String">
            <value>Grupo 7: Codec</value>
        </setting>
        <setting name="Description" serializeAs="String">
            <value>Idea seleccionada: Twisted Metal - Derby de demolición</value>
        </setting>
        <setting name="ShadersDirectory" serializeAs="String">
            <value>..\..\Shaders\</value>
        </setting>
        <setting name="MediaDirectory" serializeAs="String">
            <value>..\..\Media\</value>
        </setting>
        <setting name="FontsDirectory" serializeAs="String">
            <value>Fonts\</value>
        </setting>
        <setting name="VehiclesDirectory" serializeAs="String">
            <value>Vehicles\</value>
        </setting>
        <setting name="ScenariosDirectory" serializeAs="String">
            <value>Scenarios\</value>
        </setting>
        <setting name="ImagesDirectory" serializeAs="String">
            <value>Images\</value>
        </setting>
        <setting name="MusicDirectory" serializeAs="String">
            <value>Sounds\Music\</value>
        </setting>
        <setting name="FXDirectory" serializeAs="String">
            <value>Sounds\FX\</value>
        </setting>
        <setting name="ItemsDirectory" serializeAs="String">
            <value>Items\</value>
        </setting>
        <setting name="Weapons" serializeAs="Xml">
            <value>
                <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <string>Bomb</string>
                    <string>Rocket</string>
                    <string>Ice-Bomb</string>
                </ArrayOfString>
            </value>
        </setting>
        <setting name="VehicleNames" serializeAs="Xml">
            <value>
                <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <string>Coupe</string>
                    <string>Hatchback</string>
                    <string>Microcargo</string>
                    <string>Micro</string>
                    <string>Minibus</string>
                    <string>MPV</string>
                    <string>Normal</string>
                    <string>Pickup-Small</string>
                    <string>Pickup</string>
                    <string>Station</string>
                </ArrayOfString>
            </value>
        </setting>
        <setting name="VehicleColors" serializeAs="Xml">
            <value>
                <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <string>Blue</string>
                    <string>Citrus</string>
                    <string>Green</string>
                    <string>Orange</string>
                    <string>Red</string>
                    <string>Silver</string>
                    <string>Violet</string>
                </ArrayOfString>
            </value>
        </setting>
    </TGC.Group.Game>
  </userSettings>
</configuration>